.hero {
	background: url('../imgs/header.jpeg') no-repeat center center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 785px;
	justify-content:center;
	align-items:center;
	display: flex;

	.cri-title {
		font-size: 30pt;
		border: 1px solid #ffffff;
		padding: 20px;
		color: #ffffff;
		opacity:0;
		-webkit-animation: showtitle 2s ease 3s forwards;
		animation: showtitle 2s ease 3s forwards;
	}

	.scroll-container {
		position:absolute;
		left: 0;
		bottom: 0;
		text-align: center;
		width:100%;
		color:#ffffff;

		.scroll-down {
			position:relative;
			-webkit-animation: bounceArrow 1s ease infinite alternate;
			animation: bounceArrow 1s ease infinite alternate;
		}
	}
}
@keyframes showtitle {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes showtitle {
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes bounceArrow {
	0% {transform:translateY(-5px);}
	100% {transform:translateY(10px);}
}
@-webkit-keyframes bounceArrow {
	0% {transform:translateY(-5px);}
	100% {transform:translateY(10px);}
}