doctype html
html
	head
		link(rel='stylesheet', href='css/style.css')
	body
		div.fullContainer
			block header
				div.menu
			block content
			block footer
				div.footer
				script(src="js/all.min.js")