extends inc/layout.jade
block content
	div.hero
		span.cri-title CRI NEW HIRE
		div.scroll-container
			i.fa.fa-angle-down.scroll-down
			p.scroll-text scroll
	div.section2
		div.container
			div.row
				div.col--4.col
					div.circle-imgs.black-white
				div.col--4.col
					div.circle-imgs.darken
				div.col--4.col
					div.circle-imgs.sepia
	div.section3
		div.container
			div.row.text-center
				div.col--3.col
					img(src="imgs/chart.svg")
				div.col--3.col
					img(src="imgs/chart.svg")
				div.col--3.col
					img(src="imgs/chart.svg")
				div.col--3.col
					img(src="imgs/chart.svg")